.container{
  padding-bottom: 1rem;
  background-color: #323232;
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #323232;
  border-bottom: rgb(37, 37, 37) solid 2px;
}

.listItem {
  float: left;
}

.listItem a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.listItem a:hover {
  background-color: #a30b1a;
}

.active{
  background-color: #a30b1a;
}