.topSection{
margin: 5px;
}

.middleSection{
margin: 5px;
width: 100%;
display:flex;
}

.continueButton{
    margin:5px;
    padding: 5px;
}

.rightColumn{
    width:50%;
    padding: 5px 0;
}

.leftColumn{
    width:20%;
    align-items: flex-end; 

}



.progressBar {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 

  }
  
  .step {
    width: 20px; 
    height: 20px; 
    background-color: #a6a6a6; 
    border-radius: 50%; 
    margin-bottom: 10px;
  }
  
  .step.active {
    background-color: #00bf13; 
  }

  .onboardingSteps{
    font-size: x-large;
  }