.container {
  background-color: #323232;
  height: 140rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  overflow-y: auto;
}


.main{
    background-color: #323232;
}
.prerequisiteSection{
    max-width: 800px;
    margin-top: 2px;
    overflow-y: auto;
    text-align: center;
}

.h2{
    color: whitesmoke;
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 1rem;
}

.prerequisitesList {
    list-style-type: none; 
    color: whitesmoke;
    font-weight: normal;
  }
  
  .prerequisitesList li {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  
.prerequisitesList li:before {
    content: "•";
    color: #ffffff;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  
  .prerequisitesList li:last-child {
    margin-bottom: 0;
  }

  
.nextButtonContainer {
    margin-top: 2rem;
  }
  
  .nextButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #a30b1a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .nextButton:hover {
    background-color: #df4756;
  }

  .lineBreak{
    margin: 5rem 0;
  }



.mainList{
  font-weight: bold;
}

.nest{
  margin-left: 25px;
}

.main{
    background-color: #323232;
}
.accountSection{
    max-width: 800px;
    margin-top: 2px;
    overflow-y: auto;
  }

.h2{
    color: whitesmoke;
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 1rem;
}

.accountList {
    list-style-type: none; 
    color: whitesmoke;
    font-weight: normal;
  }
  
  .accountList li {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 5px; 
}

  
  
.accountList li:before {
    content: "•";
    color: #ffffff;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
  
  .accountList li:last-child {
    margin-bottom: 0;
  }

  
.nextButtonContainer {
    margin-top: 2rem;
  }
  
  .nextButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #a30b1a;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .nextButton:hover {
    background-color: #df4756;
  }

