.container{
    height: 100%;
  }
  
  .fullWidthContainer{
    width: 100%;
    height:fit-content;
    padding: 5px;
    display: flex;
  }
  
  .teamTitle{
    width:45%;
  }
  
  .teamButton{
    width:25%;
    margin-left: 20%;
  }
  
  
  .topSection{
    padding: 5px;
    margin-bottom: 1rem;
  }
  
  .myTeamSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto; 
  }
  
  .topSectionContainer{
    width:70%;
    display: flex;
  }
  
  .listContainer {
    width: 100%; 
    border-radius: 5px;
    padding: 10px;
  }
  
  .userList {
    list-style-type: none; 
    padding: 0; 
  }
  
  .userListItem {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    border: 3px solid #000000; 
    padding: 8px; 
  }
  
  .userName{
    width: 30%; 
  }
  
  .progressBarContainer{
    width: 30%; 
    height: 40px; 
  }
  
  .progress {
    width: 100%; 
    height: 40px; 
  }
  
  .progress::-webkit-progress-bar {
    color: #d78418;
  }
  
  .progress::-webkit-progress-value {
    background-color: whitesmoke; 
  }
  
  .reminderButtonContainer, .completedTextContainer{
    width: 30%;
    display: flex;
  }
  
  .reminderButton{
    background-color: rgb(230, 93, 93);
    border-radius: 5px;
    width: 50%; 
    margin-left: 50%;
    height: 40px;
  }
  
  .completedText{
    width: 50%;
    margin-left:50%;
  }