.container{
    height: 59rem;
    background-color: #323232;

  }
  
  .fullWidthContainer{
    width: 100%;
    height:fit-content;
    display: flex;
  }
  
  .teamTitle{
    width:45%;
    color: whitesmoke;

  }
  
  .teamButton {
    margin-top: 2rem;
    background-color: #323232;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
  }
  
  .teamButton:hover {
    background-color: #7c7c7c;
    align-self: center;
  }
  
  
  .topSection{
    padding: 5px;
  }
  
  .myTeamSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto; 
  }
  
  .topSectionContainer{
    width:70%;
    display: flex;
  }

  .titleContainer1{
    background-color: #a30b1a;
    width:100%;
    padding: 5px;
    margin: 0 0 2rem 0;
  }

  .titleContainer{
    background-color: #a30b1a;
    width:100%;
    padding: 5px;
  }
  
  .listContainer {
    width: 100%; 
    border-radius: 5px;
  }
  
  .userList {
    list-style-type: none; 
    padding: 0; 
    background-color: whitesmoke;

  }
  
  .userListItem {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    border: 1px solid #000000; 
    padding: 8px; 
  }
  
  .userName{
    width: 30%; 
  }
  
  .progressBarContainer{
    width: 30%; 
    height: 40px; 
  }
  
  .progress {
    width: 100%; 
    height: 40px; 
  }
  
  .progress::-webkit-progress-bar {
    color: #d78418;
  }
  
  .progress::-webkit-progress-value {
    background-color: whitesmoke; 
  }
  
  .reminderButtonContainer, .completedTextContainer{
    width: 30%;
    display: flex;
  }
  
  .reminderButton{
    background-color: rgb(230, 93, 93);
    border-radius: 5px;
    width: 50%; 
    margin-left: 50%;
    height: 40px;
  }
  
  .completedText{
    width: 50%;
    margin-left:50%;
  }



  .whiteText{
    color: whitesmoke;
    margin-bottom:2rem;
    padding-left: 0.4rem;
  }